*{
    margin: 0;
    padding: 0;
    box-sizing: 'poppins',sans-serif;
    -moz-box-sizing: 18px;
}
body{ 
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    height: 70px;
    width: 90%;
    background-color: aqua;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .Logo{
    font-size: 30px;
    font-weight: bold;
   
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.container{
    display: flex;
    width: 93%;
    margin-bottom: 40px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: aqua;
    border-radius: 3px;
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid aqua;
}
.img-box{
    width: 100%;
    height: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: red;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: aqua;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #333;
}