*{
    margin: 0;
    padding: 0;
    box-sizing: 'poppins',sans-serif;
    font-sizing: 18px;
}
body{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    height: 80px;
    width: 90%;
    background-color: aqua;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .Logo{
    font-size: 30px;
    font-weight: bold;
   
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    
}